* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "DIN";
  src: url(/fonts/DIN\ Regular.ttf);
}
@font-face {
  font-family: "DIN-bold";
  src: url(/fonts/DIN\ Bold.otf);
}
/*DESKTOP*/
.landing-cont {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content h1 {
  font-family: "DIN-bold";
  font-size: 64px;
  margin-bottom: 40px;
}
.content h2 {
  font-family: "DIN-bold";
  font-size: 32px;
  text-align: center;
  margin-top: 40px;
}
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* ensures the video fills without distortion */
  z-index: -1;
}

/*MOBILE*/
@media (min-width: 390px) {
}
